body {
    margin: 0;
    padding: 5%;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle, #5A92D6, #023370);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
}

.movie-container{
    width: 75%;
    margin: 0 auto;
}

.movie-info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    align-items: center;
}

.movie-poster-container {
    width: 100%;
    overflow: hidden;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.movie-player {
    margin: 25px 0;
    width: 100%;
}

.movie-video {
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 8px;
    background: #000;
}


.hidden {
    display: none;
}

.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #023370;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #BFE2FF;
}
.full-stars .rating-group:hover label svg {
    fill: #023370;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #BFE2FF;
}