<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактор каталогов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="header">
    <nav><a href="statistics.html">Статистика</a>  </nav>
    <nav><a href="editor.html"> Каталог</a></nav>
    <nav><a href="backup.html"> Бэкап </a></nav>
</div>
<div class="search-container">
    <input type="text" id="movieSearch" placeholder="Поиск" autocomplete="off">
    <button id="addMovieBtn">+</button>
</div>
<div id="films-container" class="films-container">

</div>
<script src="{{ url_for('static', filename='admin/js/editor.js') }}"></script>

</body>
</html>