<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/style.css') }}">
</head>
<body class="root">
    <main class="content">
        <div class="search">
            <input id="searchInput" class="search__input" name="search" type="text" placeholder="Поиск">
            <button id="searchButton" class="search__button">
                <img class="search__icon" src="{{ url_for('static', filename='assets/images/search-icon.png') }}">
            </button>
        </div>
        <div class="menu-container">
            <button class="sorting"></button>
            <nav class="menu">
                <ul>
                    <li><a href="#" class="menu__link menu__link_active">Популярно сейчас</a></li>
                    <li><a href="#" class="menu__link">Фильмы</a></li>
                    <li><a href="#" class="menu__link">Сериалы</a></li>
                    <li><a href="#" class="menu__link">Рекомендации</a></li>
                </ul>
            </nav>
            <button class="filter"></button>
        </div>
        <div class="film-grid" id="filmGrid">
            <p id="noResultsMessage" class="film-grid_no-results hidden">
                Фильмы не найдены 😔
            </p>
        </div>
        <div class="sheets">
            <button class="sheets__prev-button"></button>
            <button class="sheets__next-button"></button>
        </div>
        <div id="sortingPanel" class="side-panel side-panel--left hidden">
            <h3>Сортировка</h3>
            <ul>
                <li><input type="radio" name="sort" value="popular"> По популярности</li>
                <li><input type="radio" name="sort" value="new"> По новизне</li>
                <li><input type="radio" name="sort" value="rating"> По рейтингу</li>
            </ul>
        </div>
        <div id="filterPanel" class="side-panel side-panel--right hidden">
            <h3>Фильтры</h3>
            <label>Жанр:
                <select>
                    <option>Любой</option>
                    <option>Боевик</option>
                    <option>Комедия</option>
                </select>
            </label>
            <label>Режиссёр:</label><input type="text">
            <label>Актёр:</label><input type="text">
            <label>Год:</label><input type="text">
            <label>Оценка:</label><input type="range" min="1" max="10">
            <label>Дата добавления:</label><input type="date">
            <label>Дата редактирования:</label><input type="date">
            <button>Применить</button>
            <button style="background-color: #ccc; color: #023370;">Очистить</button>
        </div>
    </main>

    <footer class="footer">
        <img class="footer__icon" src="">
        <p class="footer__message">Спасибо за просмотр!</p>
    </footer>

    <template id="filmTemplate">
        <div class="film-card">
            <img class="film-poster" src="" alt="">
        </div>
    </template>

    <script src="{{ url_for('static', filename='home/js/home.js') }}"></script>
</body>
</html>
