<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильм #{{ movie_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/movie.css') }}">
</head>
<body>
<main class="movie-container">
    <div class="movie-info">
        <div class="movie-poster-container">
            <img id="moviePoster" src="" alt="Постер фильма" class="movie-poster">
        </div>

        <div class="movie-details">
            <h1 id="movieTitleYear" class="movie-title">
            </h1>
            <div class="info-row">
                <span class="info-label">Страна:</span>
                <span id="movieCountry" class="info-value"></span>
            </div>
            <div class="info-row">
                <span class="info-label">Оценка:</span>
                <span id="movieRating" class="info-value"></span>
            </div>
            <div class="info-row">
                <span class="info-label">Длительность:</span>
                <span id="movieDuration" class="info-value"></span>
            </div>
            <div class="info-row">
                <span class="info-label">Бюджет:</span>
                <span id="movieBudget" class="info-value"></span>
            </div>
            <div class="info-row">
                <span class="info-label">Жанр:</span>
                <span id="movieGenres" class="info-value"></span>
            </div>
            <div class="info-row">
                <span class="info-label">Дата добавления:</span>
                <span id="movieCreatedAt" class="info-value"></span>
            </div>
            <div class="info-row">
                <span class="info-label">Дата редактирования:</span>
                <span id="movieUpdatedAt" class="info-value"></span>
            </div>

            <div class="movie-description">
                <p id="movieDescription" class="movie-synopsis"></p>
            </div>
        </div>
    </div>
    <div class="movie-player">
        <div class="full-stars">
            <div class="rating-group">
                <!-- по умолчанию 0 -->
                <input name="fst" value="0" type="radio" disabled checked />

                <!-- рейтинг 1 -->
                <label for="fst-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-1" value="1" type="radio" />

                <!-- рейтинг 2 -->
                <label for="fst-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-2" value="2" type="radio" />

                <!-- рейтинг 3 -->
                <label for="fst-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-3" value="3" type="radio" />

                <!-- рейтинг 4 -->
                <label for="fst-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-4" value="4" type="radio" />

                <!-- рейтинг 5 -->
                <label for="fst-5">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-5" value="5" type="radio" />

                <!-- рейтинг 6 -->
                <label for="fst-6">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-6" value="6" type="radio" />

                <!-- рейтинг 7 -->
                <label for="fst-7">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-7" value="7" type="radio" />

                <!-- рейтинг 8 -->
                <label for="fst-8">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-8" value="8" type="radio" />

                <!-- рейтинг 9 -->
                <label for="fst-9">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-9" value="9" type="radio" />

                <!-- рейтинг 10 -->
                <label for="fst-10">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                </label>
                <input name="fst" id="fst-10" value="10" type="radio" />
            </div>
        </div>

        <div class="series-selector">
            <label for="seriesSelect">Выберите серию:</label>
            <select id="seriesSelect" class="series-select">
            </select>
        </div>

        <video id="movieVideo" controls class="movie-video">
            Ваш браузер не поддерживает HTML5 видео
        </video>
        <div id="videoPlaceholder" class="video-placeholder hidden">Видео пока недоступно</div>


        <div class="info-row">
            <span class="info-label">Режиссер:</span>
            <span id="movieDirector" class="info-value"></span>
        </div>
        <div class="info-row">
            <span class="info-label">В ролях:</span>
            <span id="movieActors" class="info-value"></span>
            <span id="viewAllActors" class="view-more-link"></span>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='home/js/movie.js') }}"></script>
</body>
</html>