<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Актеры и режиссеры</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home/css/persons.css') }}">
</head>
<body class="root">
  <div class="container">
    <h1 class="title">Актеры и режиссеры</h1>

    <section class="section">
      <h2>Режиссёры</h2>
      <div id="directors" class="person-list"></div>
    </section>

    <section class="section">
      <h2>Актёры</h2>
      <div id="actors" class="person-list"></div>
    </section>
  </div>

  <script src="{{ url_for('static', filename='home/js/persons.js') }}"></script>
</body>
</html>
