<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рекомендации</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recommendations/css/style.css') }}">
</head>
<body class="root">
<main class="content">
    <div class="search">
        <input id="searchInput" class="search__input" name="search" type="text" placeholder="Поиск">
        <button id="searchButton" class="search__button">
            <img class="search__icon" src="{{ url_for('static', filename='assets/images/search-icon.png') }}">
        </button>
    </div>
    <div class="menu-container">
        <button class="sorting"></button>
        <nav class="menu">
            <ul>
                <li><a href="/" class="menu__link">Популярно сейчас</a></li>
                <li><a href="#" class="menu__link">Фильмы</a></li>
                <li><a href="#" class="menu__link">Сериалы</a></li>
                <li><a href="#" class="menu__link menu__link_active">Рекомендации</a></li>
            </ul>
        </nav>
        <button class="filter"></button>
    </div>
    <div class="card" id="quiz-card">
        <h3 id="question-title">Вопрос 1</h3>
        <p id="question-text">Если бы твоя жизнь сейчас была фильмом, в каком жанре бы её сняли?</p>
        <div class="answers" id="answers-container"></div>
    </div>
    <div id="result-films" class="film-results-grid"></div>
</main>

<footer class="footer">
    <img class="footer__icon" src="">
    <p class="footer__message">Спасибо за просмотр!</p>
    <a href="/admin" class="footer__admin-link">Перейти в админ-панель</a>
</footer>

<script src="{{ url_for('static', filename='recommendations/js/recommendations.js') }}"></script>
</body>
</html>
